<br /> <br />
<div *ngIf="orderList.length>0" class="centered"><table border="1">
    <tr>
    
   
    <th>Order Date</th>
    <th>Total price</th>
    <th>Order Status</th>
    <th>Payment Status</th>
    <th></th>

    </tr>
    <tr *ngFor="let order of orderList">
       
        <td>{{getDate(order?.orderedDate)}}</td>
         <td>{{order?.totalPrice}}</td>
        <td>{{order?.orderStatus === 'success' ? 'Order not confirmed' : order?.orderStatus}}</td>
        <td>{{order?.paymentStatus === 'success' ? 'UnPaid' : order?.paymentStatus}}</td>
        <td><div *ngIf="order?.paymentStatus !== 'PAID'"> <button (click)="addPayment(order)" mat-raised-button color="primary" style="background-color: rgb(16, 40, 85) ;color:white;">Payment</button></div></td>
    </tr>
</table>
</div>
<br>
<br>
<br>
<br>