table tr td img{
    height:200px;
    width:200px;

}
.centered {
    display: flex;
    justify-content: center;
}

th,tr,td {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
  }

  .mat-icon {
    font-size: 40px;
    height: 40px ;
    width: 40px;
    cursor: pointer;
    color: #7b3b1e;
} 