<div class="tab">
    <div class="centered" >
        <div class="form" *ngIf="allCategory && allCategory.length === 0"> Please add Category</div>
        <div class="form" *ngIf="allCategory && allCategory.length > 0">
            <table>
                <tr>
                    <td>Add Sub Category</td>
                    <td> <input type="text" [(ngModel)]="categoryName" placeholder="Add Sub Catgory"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select [(ngModel)]="parentCategory">
                            <option *ngFor="let cat of allCategory" [value]="cat.pc_id">{{cat.categoryName}}</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button (click)="addSubCategory()">Add</button>
                    </td>
                </tr>
            </table>
        </div>            
    </div>
    <!-- <h1>
        Add Sub Category
    </h1>
    <div class="form" *ngIf="allCategory && allCategory.length === 0"> Please add Category</div>
    <div class="form" *ngIf="allCategory && allCategory.length > 0">
        <input type="text" [(ngModel)]="categoryName" placeholder="Add Sub Catgory"/>
        <select [(ngModel)]="parentCategory">
            <option *ngFor="let cat of allCategory" [value]="cat.pc_id">{{cat.categoryName}}</option>
        </select>
        <button (click)="addSubCategory()">Add</button>
    </div> -->

</div>