
<div class="about-page">
    <div class="about-section">
      <!-- <h1 style="background-color: rgb(249, 229, 254);">About Us </h1> -->
    </div>
    <div class="welcome py-sm-5 py-4">
      <div class="container py-xl-4 py-lg-2">
        <!-- //tittle heading -->
        <div class="row">
          <h1 class="text-left" style="color:rgb(72, 16, 85);">About Online Clothing Rental System</h1>
          <div class="col-lg-6 welcome-left">
            <h3 class="my-sm-3 my-2" > <h2>About Our Service</h2>
              <p>Online Clothing Rental is an online web application where customers can rent clothes for various occasions. Through a web browser, customers can search for clothing items by category, style, or designer, add items to their rental cart, and finally rent them using a credit card transaction.</p>
              <p>Users can log in using their account details or set up a new account quickly by providing their name, contact number, and shipping address. Customers simply require a PC or laptop and a payment method to rent clothes online.</p>
            </h3>
          </div>
  
          <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
            <img src="../../../assets/Images/loginbg.jpg" class="img-fluid" alt=" ">
          </div>
  
  
          <div class="welcome-left">
            <br><br>
            <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;What We Do ?</h1>
            <h3 class="my-sm-3" style="margin-left:15px;">The Online Clothing Rental Website provides customers with an easy
               and convenient way to rent clothes online through a web browser. Customers can create an account, sign in,
                browse through a wide range of clothing items, place them into a rental cart.
          </h3>

          <h3>For Customers</h3>
        <ul>
            <li><b>Account Management:</b> Customers can create a new account quickly by providing their name, contact number, and shipping address, or sign in to an existing account.</li>
            <li><b>Browse and Search:</b> Customers can search for clothing items by category.</li>
            <li><b>Add to Cart:</b> Selected items can be added to a rental cart for easy checkout.</li>
            <li><b>Secure Payment:</b> Rentals can be completed using secure transactions.</li>
        </ul>

        <h3>For Administrators</h3>
        <ul>
            <li><b>Enhanced Functionalities:</b> Administrators have additional capabilities compared to regular users.</li>
            <li><b>Manage Inventory:</b> Administrators can add, delete, and update clothing item details and categories.</li>
            <li><b>Manage User Information:</b> Administrators can manage customer information and ensure smooth transactions.</li>
            <li><b>Order Confirmation:</b> Administrators can confirm placed orders and handle logistics for shipping and returns.</li>
            <li><b>Monitor and Report:</b> Administrators can monitor the performance of the store, generate reports, and ensure the overall system is running smoothly.</li>
        </ul>
          </div>
  
  
          <div class="welcome-left">
            <br><br>
            <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;Our Vision</h1>
            <h3 class="my-sm-3" style="margin-left:15px;">
              <li>To shop while being in the comfort of your own home, without having to step out of the door. </li>
              <li>Provide home delivery free of cost.</li> 
              <li>No wait to see the products if someone else are taking that.</li>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
