
<!-- <p>contact-us works!</p> -->
<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>C</span>ontact
        <span>U</span>s
      </h2>
      <!-- //tittle heading -->
      <div class="row contact-grids agile-1 mb-5">
        <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fa fa-map" aria-hidden="true"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
            <p style="font-weight: bold;color:black;">EduBridge India Pvt. Ltd.
              <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="https://maps.app.goo.gl/3qELHWBN83RYiTkw5">Kolhapur </a></label>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fa fa-phone rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="tel:+1800 120 1193">9404732100 ,9860582757</a>
  
  
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fa fa-envelope-open rounded-circle"></i>
            </div>
  
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
            <p>
              <a style="font-weight: bold;color:black;" href="mailto:wecare@edubridgeindia.in">wecare&#64;gmail.com</a>
            </p>
          </div>
        </div>
      </div>