    <header class="header">
      <a class="logo"><img src="assets/Images/logo.png" alt="App Logo" class="logo" >  Clothes Rental</a>
        <nav class="nav-items">
          <i class="fa fa-home"></i><a (click)="gotourl('/admin/home')" [class.selected]="url === '/admin/home'">Home</a>
          <i class="fa fa-plus-circle"></i><a (click)="gotourl('/admin/add-product')" [class.selected]="url === '/admin/add-product'">Add-Product</a>
          <i class="fa fa-plus-circle"></i><a (click)="gotourl('/admin/add-category')" [class.selected]="url === '/admin/add-category'">Add Category</a>
          <i class="fa fa-plus-circle"></i><a (click)="gotourl('/admin/add-subcategory')" [class.selected]="url === '/admin/add-subcategory'">Add Sub Category</a>
          <i class="fa fa-list-ul"></i><a (click)="gotourl('/admin/productlist')" [class.selected]="url === '/admin/productlist'">Product-List</a>
          <i class="fa fa-list-alt"></i><a (click)="gotourl('/admin/order-list')" [class.selected]="url === '/admin/order-list'">Order-List</a>
          <i class="fa fa-sign-out"></i><a (click)="gotourl('/admin/logout')" [class.selected]="url === '/admin/logout'">Logout</a> 
        </nav>
      </header>

