
    <header class="header">
      <a class="logo"><img src="assets/Images/logo.png" alt="App Logo" class="logo" >  Clothes Rental</a>
      <nav class="nav-items">
  
        <i class="fa fa-home"></i><a (click)="gotourl('')" [class.selected]="url === '/'">Home</a>
        <i class="fa fa-question-circle"></i><a (click)="gotourl('aboutus')" [class.selected]="url === '/aboutus'">About-us</a>
        <i class="fa fa-user-circle"></i><a (click)="gotourl('user-login')" [class.selected]="url === '/login'">Login</a>
        <i class="fa fa-mobile"></i><a (click)="gotourl('contactus')" [class.selected]="url === '/contactus'">Contact-us</a>
      </nav>
    </header>
