tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0px;
}
.centered {
  display: flex;
  justify-content: center;
}
.information {
  width: 400px;
}
.register-tab {
  width: 40%;
  margin: 0 auto;
  box-shadow: rgba(177, 177, 199, 0.28) 0px 4px 7px 12px;
  padding: 20px;
  background-color: rgb(193, 214, 236);
  color: black;
  font-weight: 500;
}
table tr td{
  padding: 10px
}