.forgot-password {
    width: 50%;
    margin: 0 auto;
    box-shadow: rgb(109 109 125 / 28%) 0px 4px 7px 12px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
table tr {
    border-style: hidden;
}