<div class="forgot-password">
    <br />
    <br />
    <div *ngIf="!isShowChangePassword" class="forgot-password">
        <h3>Forgot Password</h3>
        <br />
        <table>
            <tr>
                <td style="text-align: center;">Enter Email</td>
                <td><input type="text" [(ngModel)]="emailId" /></td>
            </tr>
        </table>
        <br />
        <button (click)="onSubmit()" mat-raised-button color="primary" style="background-color: rgb(72, 16, 85) ;color:rgb(249, 229, 254);">Submit</button>
    
    </div>
    <div *ngIf="isShowChangePassword" class="forgot-password">
        <h3>Change Password</h3>
        <br />
        <table>
            <tr>
                <td >Enter New Password</td>
                <td><input type="password" [(ngModel)]="newPassword" /></td>
            </tr>
        </table>
        <br />
        <button (click)="onChangePassword()" mat-raised-button color="primary" style="background-color: rgb(72, 16, 85); color: rgb(249, 229, 254);">Submit</button>
    </div>
    </div>



