<!-- <p>user-cart works!</p> -->

<br /><br />
<div *ngIf="cartList.length===0" class="centered">
    No clothes available in cart
</div>
<div *ngIf="cartList.length>0" class="centered">
<table border="1">
    <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Size</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
        </tr>
    <tr *ngFor="let cart of cartList">
        <td>{{cart?.product?.pname}}</td>
        <td><img [src]="cart?.product?.pImage" /></td>
        <td><button (click)="onIncreaseQunatity(cart)" class="button-padding">+</button>{{cart?.quantity}}<button (click)="onDecreaseQunatity(cart)" class="button-padding">-</button></td>
        <td>{{cart?.size}}</td>
        <td>{{cart?.duration}}</td>
        <td>{{cart?.mrpPrice}}</td>
        <td>{{getTotal(cart?.quantity,cart?.mrpPrice)}}</td>
        <td><i class="fa fa fa-trash" aria-hidden="true" style="font-size: 24px;"></i> <br>
        <button (click)="deleteCart(cart)" mat-raised-button color="primary" style="background-color: rgb(16, 40, 85) ;color:white;">Delete Cart</button></td>
        


    </tr>
</table>

</div>
<br />
<div class="centered" *ngIf="cartList.length!==0">
    <b>Grand Total: </b>&nbsp;&nbsp;{{grandTotal}} &nbsp;&nbsp;<button (click)="placeOrder()" mat-raised-button color="primary" style="background-color: rgb(16, 40, 85) ;color:white;">Place Order</button>
</div>
<br>
<br>
<br>






