<div class="tab">
    <!-- <h1>
        Add Category
    </h1>
    <div class="form">
        <input type="text" [(ngModel)]="categoryName" placeholder="Add Catgory"/>
        <button (click)="addCategory()">Add</button>
    </div> -->
    <div class="centered">
        <table>
            <tr>
                <td>
                    Add Category
                </td>
                <td>
                    <input type="text" [(ngModel)]="categoryName" placeholder="Add Catgory"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button (click)="addCategory()">Add</button>
                </td>
            </tr>
        </table>
    </div>
</div>